<div id="content">

        <h1 id="page_title">admin-edit works!</h1>
        <div class="main">
            <fieldset>
                <form (submit) = "editUser()">
                    <!--Inputs-->
                    <p>First Name</p>
                    <input type="text" name="first_name" [(ngModel)]="admin.first_name">
                    <span class="errors" *ngIf="admin.first_name.length < 1">   Please include a first name</span>
            
                    <p>Last Name</p>
                    <input type="text" name="last_name" [(ngModel)]="admin.last_name">
                    <span class="errors" *ngIf="admin.last_name.length < 1">   Please include a last name</span>
                    
                    <p>Email</p>
                    <input type="email" name="email" [(ngModel)]="admin.email">
                    <span class="errors" *ngIf="admin.email.length < 5">   Please include an email</span>
            
                    <p>Phone</p>
                    <input type="text" name="phone" [(ngModel)]="admin.phone">
                    <span class="errors" *ngIf="admin.phone.length < 10">Please include a phone number, digits only (no spaces or punctuation)</span>
                    
                    <p>Password</p>
                    <input type="password" name="password" [(ngModel)]="admin.password">
                    <span class="errors" *ngIf="admin.password.length < 8">   Password must be greater than 8 characters</span>
                    
                    <p>PW Confirmation</p>
                    <input type="password" name="pwconf" [(ngModel)] = "admin.pwconf">
                    <span class="errors" *ngIf="admin.pwconf.length < 8">   Password confirmation must be greater than 8 characters</span>
                    
                    <!--Errors-->
                    <p class="errors" *ngIf="admin.pwconf != admin.password">Password and Password Confirmation must match</p>
                    <br>
                    <!--Submission-->
                    <button class="deny" (click)=reset()>Clear</button>
                    <input 
                        class="confirm" 
                        type="submit" 
                        [disabled]="admin.first_name.length < 1 || admin.last_name.length < 1 || admin.email.length < 5 || admin.password.length < 8 || admin.pwconf.length < 8 || admin.pwconf != admin.password || admin.phone.length < 10"
                        value="Update">
                </form>
            </fieldset>
            <fieldset>
                <p>Name: {{admin.first_name}} {{admin.last_name}}</p>
                <p>Email: {{admin.email}}</p>
                <p>Phone number: {{admin.phone}}</p>
            </fieldset>
        </div>

        
    </div>