<div id="content">
    
    <div id="page_title">
        <h1>Projects</h1>
        <hr>
    </div>
    
    <div class="main">
        <ul class="projects_ul">
            <li class="projects_li">
                <h4 class="projects_head"><a href="http://www.illuminarestudio.com" target="_blank">Illuminare Studio</a></h4>
                <p class="projects_desc">Illuminare Studio is a private leather distributor based in Los Angeles. 
                    Michael was the sole contributor and full stack developer for this project, and built the website from scratch. 
                    The website is built with a Django backend, and hosted on AWS EC2 with Route 53. 
                    Front-end technologies used are Bootstrap, jQuery, Javascript, and CSS Grid for the layout. 
                    The website is media-responsive, built for mobile, iPad, and desktop. 
                    It features slideshows and modals, as well as custom UI.</p>
            </li>
            <li class="projects_li">
                <h4 class="projects_head"><a href="http://www.communitycareandhospice.com" target="_blank">Community Care and Hospice</a></h4>
                <p class="projects_desc">Community Care and Hospice is a hospice in Camarillo, CA. 
                    Michael was one on a team of two. The project is a Django backend with jQuery, Javascript, and CSS Grid. 
                    Michael was pulled in as a front-end designer to add media responsive functionality. Much of the project involved 
                    removing in-line styling and condensing 70+ CSS files into 6 component-based CSS files. Michael also built custom 
                    navigation UI, and added accessibility features.
                </p>
            </li>
            <li class="projects_li">
                <h4 class="projects_head"><a href="http://www.brownpaperla.com" target="_blank">Brown Paper LA</a></h4>
                <p class="projects_desc">Brown Paper LA is a local catering company who already had a website running, but needed a facelift. 
                    Per client request, Michael kept the website hosted on Squarespace, and transferred the menu ordering functionality to the Squarespace site. 
                    Michael connected Stripe, built an ordering form, created a menu, edited all of their image assets, and added purchase functionality. 
                    Michael also completely redesigned the color and layout scheme.
                </p>
            </li>
            <li class="projects_li">
                <h4 class="projects_head"><a href="http://www.danieldeyoungactor.wordpress.com" target="_blank">Daniel DeYoung actor portfolio</a></h4>
                <p class="projects_desc">Michael built this WordPress hosted website as a client project and an introduction into WordPress front-end development.
                    Michael edited most of the image assets provided, and built this website from scratch.
                </p>
            </li>
            <li class="projects_li">
                <h4 class="projects_head"><a href="http://www.github.com/michaelamican" target="_blank">Github</a></h4>
                <p class="projects_desc">While Michael doesn't push to github as often as he should, his github has school and client projects uploaded. 
                    You will find work in Java with Spring and Spring Boot, Django, Flask, ExpressJS, and Angular.
                </p>
            </li>
        </ul>
    </div>
    <div class="main hide">
        <ul class="projects_ul">
            <li *ngFor = 'let project of projects' class="projects_li">
                <fieldset class="projects_img">
                    <img src="{{project.img}}">
                </fieldset>
                <h4 class="projects_head"><a href="{{project.exturl}}" target="_blank">{{project.name}}</a></h4>
                <p class="projects_desc">{{project.desc}}</p>
            </li>
        </ul>
    </div>

</div>
