<div id="content">

    <div id="page_title">
        <h1>About Me</h1>
        <hr>
    </div>
    
    <div class="main">
        <img id="headshot" src="/assets/img/headshot.jpg">
        <div id="bio">
            <p class="bio_desc">A former artist in omni-channel sales and marketing, Michael Amic-Angelo is a career changer. 
                He attended an intensive program for web and app development, and is now hitting the Los Angeles job market 
                as a freelance web designer. He has experience in Python, Javascript, Java, and AWS, 
                using the Django/Flask, Angular/Express/React, and Spring/Spring Boot frameworks. A budding web developer 
                with an eye for color, balance, and form, Michael is always seeking new technologies and languages.
            </p>
            <p class="bio_desc">If you would like to learn more about Michael's work history, 
                please visit his <a class="highlight" href="https://www.linkedin.com/in/mcarterartistry" target="_blank"> linkedin</a>, or his <a class="highlight" href="https://www.github.com/michaelamican" target="_blank">github</a>.
            </p>
            <p class="bio_desc">Thank you for perusing his portfolio. He hopes to hear from you soon!</p>
        </div>
    </div>

</div>
